<template>
  <div class="multiselect" @click="toOpen">
    <div class="multiselect__selected">{{ selectedText }}</div>

    <div class="multiselect__field-wrap">
      <input
          type="text"
          ref="field"
          class="multiselect__field"
          :placeholder="placeholder"
          v-model="searchText"
      >

      <button
          class="multiselect__field-clear"
          title="Очистить"
          @click="clear"
          v-show="searchText"
      ></button>
    </div>

    <div class="multiselect__options" v-show="open" :style="{'max-height': height}">
      <div class="multiselect__option" v-for="option in list" v-show="activeOption.includes(option)" :key="option.id">
        <input
            :id="name + '-' + option.id"
            class="multiselect__options-field"
            :type="type"
            :name="name"
            v-model="selected"
            :value="option.name"
        >
        <label :for="name + '-' + option.id" class="multiselect__options-label">{{ option.name }}</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MultiSelect",
  props: {
    name: {
      type: String,
      required: true
    },
    list: {
      type: Array,
      default() {
        return []
      }
    },
    placeholder: {
      type: String,
      default() {
        return 'Введите значение';
      }
    },
    multiple: {
      type: Boolean,
      default: false
    },
    height: {
      type: String,
      default: '200px'
    }
  },
  data() {
    return {
      type: this.multiple ? 'checkbox' : 'radio',
      selected: [],
      searchText: '',
      open: false,
    }
  },
  computed: {
    selectedText() {
      return Array.isArray(this.selected) ? this.selected.join(', ') : this.selected;
    },
    activeOption() {
      return this.list.filter(item => item.name.toLowerCase().indexOf(this.searchText.toLocaleLowerCase()) !== -1);
    }
  },
  methods: {
    toOpen() {
      this.$refs.field.focus();
      this.open = true;
    },
    clear() {
      this.searchText = '';
    }
  },
  mounted() {
    let multiselect = document.getElementsByClassName('multiselect')[0];

    document.addEventListener('click', e => {
      let target = e.target;

      if (target !== multiselect && !multiselect.contains(target)) {
        this.open = false;
      }
    });
  }
}
</script>

<style scoped>
 .multiselect {
   position: relative;
   display: flex;
   flex-direction: column;
   max-width: 300px;
   padding: 7px 15px;
   margin: 20px auto;
   border: 1px solid #e8e8e8;
   border-radius: 5px;
 }

 .multiselect__selected {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .multiselect__field {
   width: 100%;
   padding: 0 20px 0 0;
   margin: 15px 0;
   font-size: 18px;
   background: none;
   border: none;
   border-radius: 0;
   outline: none;
   appearance: none;
 }

 .multiselect__field-wrap {
   position: relative;
 }

 .multiselect__field-clear {
   position: absolute;
   top: 50%;
   right: 0;
   width: 16px;
   height: 16px;
   background: url("../assets/close.png") center/100% no-repeat;
   border: none;
   border-radius: 0;
   cursor: pointer;
   transform: translateY(-50%);
   transition: opacity .3s;
   appearance: none;
 }

 .multiselect__field-clear:hover,
 .multiselect__field-clear:focus {
   opacity: .8;
 }

 .multiselect__options {
   overflow-y: scroll;
 }

 .multiselect__option {
   cursor: pointer;
 }

 .multiselect__options-field {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
 }

 .multiselect__options-field:checked + .multiselect__options-label {
   color: #ffffff;
   background: #41b883;
 }

 .multiselect__options-label {
   display: block;
   padding: 5px;
   text-align: left;
   cursor: pointer;
   transition: color .3s, background-color .3s;
 }
</style>