<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">

    <MultiSelect
        placeholder="Поиск..."
        multiple
        height="150px"
        name="city"
        :list="list"
    ></MultiSelect>
  </div>
</template>

<script>
import MultiSelect from './components/MultiSelect.vue'


export default {
  name: 'App',
  components: {
    MultiSelect
  },
  data () {
    return {
      list: [
        {
          id: 1,
          name: 'Москва'
        },
        {
          id: 2,
          name: 'Сочи'
        },
        {
          id: 3,
          name: 'Волгоград'
        },
        {
          id: 4,
          name: 'Тула'
        },
        {
          id: 5,
          name: 'Челябинск'
        },
        {
          id: 6,
          name: 'Краснодар'
        },
        {
          id: 7,
          name: 'Ярославль'
        }
      ],
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
